body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {
		margin:0 ; padding:0;
}
a{
	text-decoration:none;
}
ul,li,ol{
	list-style-type:none;
}
/*导航开始*/
nav{
	width:100%;
	height:80px;
	background-color:#fff;
}
.dh_lg{
	width:160px;
	height:80px;
	background-image:url("../images/logo.jpg");
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
	float:left;
	margin-left:150px;
}
ul{
	width:680;
	height:80px;
	float:left;
	margin-left:220px;
}
li{
	width:136px;
	height:80px;
	text-align:center;
	line-height:80px;
	float:left;
}
.dh1{
	background-color:#c21a1f;
}
.dh1 a{
	color:#fff;
}
.dh2 a{
	color:#000;
}
.dh2:hover{
	background-color:#c21a1f;
	color:#fff;
}
.dh2:hover.dh2 a{
	color:#fff;
}
/*导航结束*/
/*主体a开始*/
.zt_a{
	width:100%;
	height:405px;
	background-image:url("../images/tp333.jpg");
	background-size:100% 485px;
	background-attachment:fixed;
	overflow:hidden;                                                                                      
}
.zt_a2{
	width:100%;
	height:42px;
	background-color:#dedede;
	font-size:15px;
	line-height:42px;
	padding-left:150px;
}
.zt_a2 span{
	color:#c21a1f;
}
/*主体a结束*/
/*主体b开始*/
.zt_b{
	width:100%;
	height:3600px;
	background-color:#fff;
}
.b_tp,.b_d1{
	float:left;
	margin-top:50px;
}
.b_tp{
	border-radius:50%;
	margin-left:120px;
}
.b_d1{
	height:400px;
	padding-top:150px;
	padding-left:50px;
}
/*主体b结束*/
/*页脚*/
footer{
	width:100%;
	height:200px;
	background-color:#333;
}
footer>p{
	font-size:14px;
	color:#9a9a9a;
	padding-left:150px;
	padding-top:56px;
}
